services:
  test-tmodloader-docker:
    pull_policy: build
    build:
      context: .
      args:
        VERSION: "2025.11.3.1"
    container_name: test-tmodloader-docker
    ports:
      - 7777:7777
    volumes:
      - ./test/:/opt/terraria/config/
      - ./test/dotnet-cache/:/opt/terraria/server/dotnet/
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      MODPACK: "testpack"
    healthcheck:
      test: "nc -vz 127.0.0.1 7777 || exit 1"
      interval: 30s
      timeout: 5s
      start_period: 10s
      retries: 3

