services:
  test-tmodloader-docker:
    image: test-tmodloader
    container_name: test-tmodloader-docker
    ports:
      - 7777:7777
    volumes:
      - ./test/:/opt/terraria/config/
      - ./test/dotnet-cache/:/opt/terraria/server/dotnet/
    environment:
      TZ: "America/New_York"
      PUID: "${PUID}"
      PGID: "${PGID}"
      MODPACK: "testpack"

