services:
  test-terraria-docker:
    image: test-terraria
    container_name: test-terraria-docker
    ports:
      - 7777:7777
    volumes:
      - ./test/:/opt/terraria/config/
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"

